@font-face {
    font-family: JetBrains_Mono;
    src: url(../Fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

h1{
    margin: auto;
    padding: auto;
}
body{
    background-color: black;
    color: #aaa6a6;
    font-family: JetBrains_Mono;
}
hr {
    width: 100%;
    background: linear-gradient(to right, #25aae1, #16b468);
    border-width: 1em;
    padding: 0.05em;
}
footer{
    align-items: center;
    text-align: center;
}

.dessous_titre{
    width: 30%; 
    margin: auto; 
    margin-bottom: 3em;
}
.mail, .tel{
    text-decoration: none;
    color: inherit;
}
.mail:hover, .tel:hover{
    text-decoration: underline;
    color: inherit;
}
.contact{
    margin-bottom: 0.2em; 
    font-size: 2em;
}
.Copyright{
    width: 25%; 
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Glow{
    position: relative;
    left: 33.3%;
    margin: auto;
    margin-bottom: 1em;
}
.Glow ul {
    margin: 0;
    padding: 0;
    display: flex;
    /*position: relative;*/
    /*top: 50%;
    left: center;*/
    /*transform: translate(-50%, -50%);*/
}
  
.Glow ul li {
    list-style: none;
    margin: 0 2%;
}
  
.Glow ul li a {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 63px;
    background: #141414;
    border-radius: 50%;
    font-size: 1.8em;
    color: #666;
    transition: .5s;
}
  
.Glow ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, #25aae1, #16b468);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.Glow ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #16b468;
}
  
.Glow ul li a:hover {
    color: linear-gradient(to right, #25aae1, #16b468);
    box-shadow: 0 0 5px #25aae1;
    text-shadow: 0 0 5px #25aae1;
}

.header{
    padding: auto;
}
.logo{
    width: 5em;
    height: 5em;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.GradientBorder{
    border: 5px solid;
    border-image: linear-gradient(to bottom, #25aae1, #16b468) 1 100%;
    border-style: solid;
    border-width: 3px;
    padding: 1rem;
}
.GradientText{
    background-image: linear-gradient(to left, #25aae1, #16b468, #25aae1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    position: relative;
}
.menu > ul{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu li{
    display: inline;
}
.menu li button{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.btn-hover {
    font-size: 16px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #16b468);
}
