<footer id="footer">
    <hr/>
    <div class="row Glow">
        <ul>
            <li>
                <a href="https://github.com/thatscringebro">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://gitlab.com/thatscringebro">
                    <i class="fab fa-gitlab"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/merlin-g%C3%A9linas-4b5200243/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/merlin.gelinas.1">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <!-- <i class="fa fa-phone" aria-hidden="true" style="margin-bottom: 0.2em;"> <a href="tel:+4502780433" class="tel" style="font-family: JetBrains_Mono;">(450)278-0433</a></i> -->
        <i class="fa fa-envelope" aria-hidden="true"> <a href="mailto:merlinge@tutanota.com" class="mail" style="font-family: JetBrains_Mono;">merlinge@tutanota.com</a></i>
    </div>
    <hr class="Copyright"/>
    <div class="row">
        <p>Copyright © 2023 Merlin Gélinas</p>
    </div>
</footer>
