<header>
    <div class="row GradientText header">
        <div class="col">
            <a href="../index.html"><img src="../Content/Logo.png" class="logo"/></a>
        </div>
        <div class="col menu">
            <ul>
                <li><a href="../index.html" class="GradientText"><button class="btn-hover color-1">Accueil</button></a></li>
                <li><a href="../Views/About.html" class="GradientText"><button class="btn-hover color-1">À propos</button></a></li>
                <li><a href="../Views/Projets.html" class="GradientText"><button class="btn-hover color-1">Projets</button></a></li>
                <li><a href="../Views/CV.html" class="GradientText"><button class="btn-hover color-1">Curriculum Vitae</button></a></li>
                <li><a href="../Views/Contact.html" class="GradientText"><button class="btn-hover color-1">Contact</button></a></li>
            </ul>
        </div>
    </div>
    <hr/>
</header>
